body {
  overflow-x: hidden;
}

main {
  padding: 0 2vw;
}

h2 {
  margin: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 2vw;
}

li {
  background-color: #aeb4f4;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  align-items: center;
  gap: 10px 0;
}

li > p {
  margin: 0;
  grid-column: 1 / -1;
}

#add-bug {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#add-bug form {
  background-color: #aeb4f4;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#add-bug input,
#add-bug textarea {
  margin-bottom: 18px;
}

#btn-add-bug {
  display: flex;
  align-items: center;
}
